---
import '~/styles/globals.css';
import Base from "~/layout/Base.astro";
export const prerender = true;
const title = "Duro Shortener";
---

<Base title={title}>
  <main class="flex-1 flex flex-col gap-4 items-center p-4 justify-center">
    <h1 class="text-2xl sm:text-4xl font-bold text-center">{title}</h1>
    <p class="max-w-prose">
      Simple URL shortener built with Astro & Supabase.
    </p>
    <a
      href="https://github.com/durocodes/url-shortener"
      class="font-mono max-w-prose underline underline-offset-2 hover:text-blue-700 text-blue-600 dark:text-blue-500 dark:hover:text-blue-400"
      >Source code on GitHub</a
    >
  </main>
</Base>
