<body
  class="bg-zinc-900 flex flex-col items-center justify-center w-screen h-screen"
>
  <h1 class="text-3xl font-bold">
    <span class="text-[#E0CCFA]">401:</span>
    <span class="text-zinc-100">You are not a whitelisted user.</span>
  </h1>
</body>
